
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

mi nombre es <b>@ViewBag.Nombre</b></b>y mi correo es</b> <a href="@ViewBag.correo">Correo</a>
<br />Dado de alta el @ViewBag.Fecha.ToLongDateString()
